{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}

<div class="container">
    <h2 class="text-center">Contact Us</h2>
    <form method="POST" action="/contact/">
        {% csrf_token %}
        <!-- Go to 1:51:27 -->
        <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name"
                placeholder="Enter your Name">
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
        </div>
        <div class="form-group mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
        </div>
        <div class="form-group mb-3">
            <label for="desc" class="form-label">How may we help you?</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
{%block js%}
<script>
    function updateCart(cart) {
        var num = 0;
        for (var i in cart)
            num += (cart[i][0]);

        localStorage.setItem('cart', JSON.stringify(cart)); //Failing to do this will lead to loss of data of cart when page is reloaded
        document.getElementById('cart').innerHTML = num;
        console.log(cart);
    }
    //Find out the cart from the local storage
    if (localStorage.getItem('cart') == null) {
        var cart = {}; //Make a new cart
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);  //Update existing cart
    }

</script>

{%endblock%}
{% endblock body %}